@media #{ $xs } { 
	.footer-main{
		min-height: $footer-main-heigth;
		width: 100%;
		background-color: #1d2d33;
		box-sizing: border-box;
		padding: 15px;
		margin-top: 100px;
		color: #c2c4c8;
		box-sizing: border-box;

		.footer-link{
			&:hover {
				color: white;
			}
		}

		&__container{
			margin-top: 20px;
			display: grid;
			width: 100%;
			grid-template-columns: repeat( auto-fill, minmax( 260px, 1fr )) !important;
			gap: 8px;
		}
	}
}