@media #{ $xs } {
	.product-card {
		max-width: 450px;
		height: 100%; //350px
		width: 100%; //250px
		border-radius: $br2;
		background-color: white;
		padding: 5px;
		box-sizing: border-box;
		overflow: hidden;

		&__header {
			position: relative;
			width: 100%;
			height: 250px;
			z-index: 97;
		}
		.product-card__header__extra-info {
			position: relative;
			z-index: 98;
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			&__icons{
				display: flex;
				flex-direction: column;
				font-size: 1.3rem;
			}
			&__discount {
				position: relative;
				background-color: #CC0000;
				width: 150px;
				height: 25px;
				align-self: flex-start;
				display: flex;
				justify-content: center;
				align-content: center;
				border: 1px solid #cc0000;
				transform: rotate( -45deg );
				top: 10px;
				left: -50px;
				span{
					line-height: 25px;
					font-size: 0.8rem;
					font-weight: bold;
					color: #FFF;
				}
			}
		}
		&__body {
			box-sizing: border-box;
			width: 100%;
			height: 130px;
			padding: 2.5%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&__footer {
			box-sizing: border-box;
			width: 100%;
			height: 65px;
			padding: 2.5%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			.product-card__footer__prices {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				width: 90px;
				justify-content: space-between;
				align-items: center;
				.main-price, .second-price {
					font-size: 1.5rem;
				}
				.main-price {
					font-weight: 600;
					color: #CC0000;
				}
				.second-price {
					color: #525252;
					font-size: 1.2rem;
					text-decoration: line-through;
				}
			}
		}
	}
}