@media #{ $xs } {
	.slider-main {
		margin-top: $m5;
		width: 100%;
		&__title-container{
			margin-right: auto;
			margin-left: auto;
			width: calc( 97.5% - 35px );
			height: auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.MuiTypography-h4{
				text-transform: uppercase;
			}
			.divider {
				width: auto;
				font-size: 1rem;	
				display: flex;
				justify-content: flex-start;
				align-items: center;
				&::before,
				&::after {
					content: '';
					height: 2px;
					width: 25%;
					display: none;
				}
				&::before {
					background: linear-gradient(to right, rgba(240,240,240,0), $primary);
					border-top-right-radius: 25px;
					border-bottom-right-radius: 25px;
					margin-right: 4vh;
				}
				&::after {
					background: linear-gradient(to left, rgba(240,240,240,0), $primary);
					margin-left: 4vh;
					border-top-left-radius: 25px;
					border-bottom-left-radius: 25px;
				} 
			}
		}
		.swiper-container {
			height: 100%;
			width: 100%;
			padding: 5% 2.5%;
		}
		.swiper-slide {
			height: 450px;
			border-radius: $br2;
			width: 265px;
		}
	}
}
@media #{ $md } {
	.slider-main {
		&__title-container{
			margin-bottom: -$m3;
			.MuiTypography-h4{
				text-transform: none;
			}
			.divider {
				width: 80%;
				&::before,
				&::after {
					display: block;
				}
			}
		}
	}
}
@media #{ $lg } {
	.slider-main {
		&__title-container{
			.divider {
				width: 90%;
			}
		}
	}
}