$nav-main-heigth: 80px;
$footer-main-heigth: 6rem;
$banner-h1-color: #fdfdfd;


/* media queries */
$xs: '( min-width: 0px )'; 
$lg: '( min-width: 1280px )';
/*
$xs: '( min-width: 320px ) and ( max-width: 578px )';
$xs: '( min-width: 320px ) and ( max-width: 578px )'; */