//vars
@import './vars';

//global
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
.main-100-vh{
	min-height: calc( 100vh - #{ $nav-main-heigth } - #{ $footer-main-heigth } );
}
@media #{ $xs } {
	.grid-container {
		margin: $m5 0;
		display: grid;
		grid-template-columns: repeat( 2, 1fr ) ;
		gap: 20px ;
		justify-content: center;
	}
}
@media #{ $sm } { .grid-container{ grid-template-columns: repeat( 3, 1fr ) } }
@media #{ $md } { .grid-container{ grid-template-columns: repeat( 4, 1fr ) } }
@media #{ $lg } { .grid-container{ grid-template-columns: repeat( 5, 1fr ) } }

//components
@import './components/header-main.scss';
@import './components/customButtonLink.scss';
@import './components/footer-main.scss';
@import './components/customDivider.scss';
@import './components/loginForm.scss';
@import './components/home.scss';
@import './components/productSliderMain.scss';
@import './components/slider.scss';
@import './components/productCard.scss';
@import './components/nav-main.scss';
@import './components/whyChooseUs.scss';
@import './components/notFoundMain.scss';

//admin components
@import './adminComponents/createProduct.scss';